<launch>
	<arg name="set_lidar_frame_id" default="base_scan"/>
	<node pkg="rosserial_python" type="serial_node.py" name="my_robot_core" output="screen">
		<param name="port" value="/dev/ttyACM0"/>
		<param name="baud" value="115200"/>
	</node>
	<include file="$(find my_robot_bringup)/launch/my_robot_lidar.launch">
		<arg name="set_frame_id" value="$(arg set_lidar_frame_id)"/>
	</include>
</launch>
